<%- include('./partials/header') %>

<div class="overlay-text">
  <h2>The Internets Go-To Aggregator of S-Tier Anime</h2>
  <h3>Start Your Next Journey Now!</h3>
</div>

<%- include('./partials/footer') %>