<%- include('../partials/header') %>

<form action="/animes" method="POST" class="anime-add">
  <label>Title:</label>
    <input type="text" name="title" required>
  <label>Genre:</label>
    <select name="genre">
      <option value="Shonen" selected>Shonen</option>
      <option value="Seinen">Seinen</option>
      <option value="Isekai">Isekai</option>
      <option value="Mecha">Mecha</option>
      <option value="Slice of Life">Slice of Life</option>
      <option value="Indie">Indie</option>
    </select>
  <label>Release Year:</label>
    <input type="text" name="releaseYear" required>
  <label>Description:</label>
    <input type="text" name="description" required>
  <button type="submit">Add Anime</button>
</form>


<%- include('../partials/footer') %>